server:
  port: 2025

spring:
  datasource:
    url: jdbc:mysql://localhost:3307/healthcare?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: false
  mail:
    host: smtp.example.com
    port: 587
    username: nishikantji392@gmail.com
    password: rsgy gnuc bdwx qpxl
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  jwt:
    secret: TXlTdXBlclNlY3JldEtleUhlYWx0aENhcmU=
    expiration-ms: 86400000

logging:
  level:
    root: INFO
    org.springframework.security: INFO

springdoc:
  swagger-ui:
    path: /swagger-ui.html

